<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Chronicle</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <header>
        <h1>Welcome to the Code Chronicle!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
                {{#if loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout" method="post">Logout</a></li>
                {{else}}
                <h2>New Here?</h2>
                    <li><a href="/login">Login</a></li>
                {{/if}}
    </header>
    
    {{{body}}}


    <footer>
        <p>©LockedJCE</p>
    </footer>
</body>
</html>